{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Swasti</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Mansalva|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'website/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>





      <div class="bg-primary py-3 top-bar shadow d-none d-md-block">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-md-left pl-0">
              <!-- <a href="#" class=" pr-3 pl-0">Home</a> -->
              <a href="https://rzp.io/l/gdW0URp" class="p-3">DONATE NOW</a>
              <!-- <a href="#" class="p-3">Become A Volunteer</a> -->
            </div>
            <div class="col-md-6 text-md-right">
              <!-- <a href="#" class="p-3"><span class="icon-twitter"></span></a> -->
			  <a href="mailto:arogyadeepaswasthyasamiti@gmail.com" class="p-3"><span class="">Email: arogyadeepaswasthyasamiti@gmail.com</span></a>
              <!-- <a href="#" class="p-3"><span class="icon-facebook"></span></a> -->
            </div>
          </div>
        </div>
      </div>
      <header class="site-navbar site-navbar-target " role="banner" style="background-color: #ffffff">

        <div class="container">
          <div class="row align-items-center position-relative">


            <div class="site-logo">
              <a href="{% url 'index'%}" class="text-white"> <img src="{% static 'website/images/AarogyaLogo.jpg'%}" alt="Image" class="img-fluid" style="height:100px;"/></a>
            </div>


            <nav class="site-navigation text-left ml-auto " role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                <li><a href="{% url 'index'%}" class="nav-link">Home</a></li>
                <li><a href="{% url 'about'%}" class="nav-link">About Us</a></li>
                <li><a href="{% url 'cause'%}" class="nav-link">Services</a></li>
				<li><a href="{% url 'team'%}" class="nav-link">Team</a></li>
                <li><a href="{% url 'blog'%}" class="nav-link">Activities</a></li>
                <li class="active"><a href="{% url 'contact'%}" class="nav-link">Contact</a></li>
              </ul>
            </nav>


            <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3 text-white"></span></a></div>



          </div>
        </div>

      </header>




    <div class="owl-carousel-wrapper">



      <div class="box-92819">
        <h1 class="text-white mb-3">Contact</h1>
        <p class="lead text-white">Arogyadeepa Swasthya Samiti</p>
      </div>


        <div class="ftco-cover-1 overlay" style="background-image: url('{% static "website/images/contact.jpg"%}');"></div>

    </div>


    <div class="site-section">
      <div class="container">

        <div class="row">
          <!-- <div class="col-lg-8 mb-5" >
            <form action="#" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Email address">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="" id="" class="form-control" placeholder="Write your message." cols="30" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mr-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5 rounded-0" value="Send Message">
                </div>
              </div>
            </form>
          </div> -->
          <div class="col-lg-6 ml-auto">
            <div class="bg-white p-3 p-md-5">
              <h3 class="text-cursive mb-4">Bangalore (Kamakshipalya)</h3>
              <ul class="list-unstyled footer-link">
                <li class="d-block mb-3">
                  <span class="d-block text-muted small text-uppercase font-weight-bold">Address:</span>
                  <span>No.225, 4th cross, Near, Ganapati Temple Rd, Sannakki Bayalu, Vrishabha Nagar, <br> Kamakshipalya, Bengaluru, Karnataka <br>560079 <br>India</span></li>
                <!-- <li class="d-block mb-3"><span class="d-block text-muted small text-uppercase font-weight-bold">Phone:</span><span>+1 242 4942 290</span></li> -->
                <!-- <li class="d-block mb-3"><span class="d-block text-muted small text-uppercase font-weight-bold">Email:</span><span>hello@swasti.org</span></li> -->
              </ul>
            </div>
          </div>
		  <div class="col-lg-6 ml-auto">
            <div class="bg-white p-3 p-md-5">
              <h3 class="text-cursive mb-4">Bangalore (Bommanahalli)</h3>
              <ul class="list-unstyled footer-link">
                <li class="d-block mb-3">
                  <span class="d-block text-muted small text-uppercase font-weight-bold">Address:</span>
                  <span>E-72, 7th Cross, NGR Layout, <br> Roopena Agrahara,<br>Bommanahalli, Bengaluru, Karnataka <br> 560068<br> India</span></li>
                <!-- <li class="d-block mb-3"><span class="d-block text-muted small text-uppercase font-weight-bold">Phone:</span><span>9585943849</span></li> -->
                <!-- <li class="d-block mb-3"><span class="d-block text-muted small text-uppercase font-weight-bold">Email:</span><span>info@yourdomain.com</span></li> -->
              </ul>
            </div>
          </div>

		</div>
      </div>
    </div>




    <div class="site-section">
      <div class="container">

            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
              <div class=""><h2 class="text-cursive">We deliver solutions for the health and wellbeing of the poor</h2></div>
              <div class="ml-auto"><a href="https://rzp.io/l/gdW0URp" class="btn btn-primary">Donate Now</a></div>
            </div>

      </div>
    </div>

   <footer class="site-footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Arogyadeepa Swasthya Samiti evolved as a community-based organization under the programme called ‘Invest for Wellness (also known as i4We)’ implemented by Swasti. <a href="{% url 'about'%}" >Read more...</a></p>

              </div>
              <!-- <div class="col-md-4 ml-auto"> -->
                <!-- <h2 class="footer-heading mb-4">Features</h2> -->
                <!-- <ul class="list-unstyled"> -->
                  <!-- <li><a href="#">About Us</a></li> -->
                  <!-- <li><a href="#">Testimonials</a></li> -->
                  <!-- <li><a href="#">Terms of Service</a></li> -->
                  <!-- <li><a href="#">Privacy</a></li> -->
                  <!-- <li><a href="#">Contact Us</a></li> -->
                <!-- </ul> -->
              <!-- </div> -->

            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <!-- <div class="mb-5">
              <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
              <form action="#" method="post" class="footer-suscribe-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control rounded-0 border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
                  </div>
                </div>
            </div> -->


            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="https://www.facebook.com/adsstrust" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
				<a href="https://twitter.com/adsstrust" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
				<a href="https://www.instagram.com/adss_trust/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
				<!-- <a href="https://www.youtube.com/user/SwastiHRC" class="pl-3 pr-3"><span class="icon-youtube"></span></a>
            <!-- </form> -->
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>


    </div>

    <script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'website/js/popper.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'website/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'website/js/aos.js' %}"></script>

    <script src="js/main.js"></script>

  </body>

</html>
